# Ignore everything by default
/*

# Allow sources
!src/

# Allow gradle
!gradle/
!build.gradle.kts
!gradlew
!gradlew.bat
!settings.gradle.kts
!gradle.properties

# Allow license
!LICENSE
!license_header.txt

# Allow readme
!README.md

# Allow git
!.gitignore
!.gitattributes